* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
body {
    background-color: #A73CF1;
    flex-wrap: wrap;
}
.conteiner {
    display: flex;
    justify-content: space-around;
    margin: 30px;
    flex-wrap: inherit;
}
.animes {
    margin: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: #ffff;
    width: 260px;
    height: 550px;
    border-radius: 5px;
    text-align: center;
    text-justify: auto;
}
img:hover {
    transform: scale(1.05);
}
img {
    margin: 7px 5px 5px 5px;
    padding: 5px;
    transition: transform 0.3;
    transition: deley (0.3);
}
